.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.home-success-container {
  padding: 20px 100px;
}

.courses-ul-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.courses-li-container {
  list-style-type: none;
  width: 18%;
  margin: 10px;
}

.link-ele {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.link-ele p {
  font-weight: bold;
  margin-left: 15px;
  color: black;
}
